{% extends "layout.html" %}

{% block title %}Etsi peli{% endblock %}

{% block content %}
<h2>Etsi peli</h2>
    <form action="/find_game" method="get">
        <label for="query">Hakusana:</label>
        <input type="text" id="query" name="query" value="{{ query }}" />
        <input type="submit" value="Etsi" />
    </form>

    {% if games %}
        <h2>Hakutulokset:</h2>
        <ul>
        {% for game in games %}
            <li>
                <a href="/game/{{ game.id }}">{{ game.title }}</a>
                - {{ game.date }} klo {{ game.time }} - {{ game.location }}
            </li>
        {% endfor %}
        </ul>

        <p>
          <a href="/find_game?query={{ query }}&page={{ page - 1 }}">&lt;&lt;</a>
          Sivu {{ page }}/{{ page_count }}
          <a href="/find_game?query={{ query }}&page={{ page + 1 }}">&gt;&gt;</a>
        </p>
    {% elif query %}
        <p>Pelejä ei löytynyt hakusanalla "{{ query }}".</p>
    {% endif %}





{% endblock %}
