{% extends "layout.html" %}

{% block title %}Luo uusi peli-ilmoitus{% endblock %}

{% block content %}
<h2>Luo uusi peli-ilmoitus</h2>
<form action="/create_game" method="post">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <p>
    <label for="title">Otsikko:</label><br />
    <input type="text" id="title" name="title" maxlength="50" required />
  </p>
  <p>
    <label for="description">Kuvaus:</label><br />
    <textarea id="description" name="description" rows="4" cols="60" maxlength="1000"></textarea>
  </p>
  {% for class in classes %}
  <p>
    <label for="class_{{ class }}">{{ class }}:</label><br />
    <select id="class_{{ class }}" name="{{ class }}">
      <option value="">(valitse)</option>
      {% for option in classes[class] %}
      <option value="{{ option }}">{{ option }}</option>
      {% endfor %}
    </select>
  </p>
  {% endfor %}

  <p>
    <label for="location">Kenttä:</label><br />
    <input type="text" id="location" name="location" maxlength="50" required />
  </p>
  <p>
    <label for="player_count">Pelaajien määrä:</label><br />
    <input type="number" id="player_count" name="player_count" min="2" max="99" required />
  </p>
  <p>
    <label for="date">Päivämäärä:</label><br />
    <input type="date" id="date" name="date" required />
  </p>
  <p>
    <label for="time">Kellonaika:</label><br />
    <input type="time" id="time" name="time" required />
  </p>
  <input type="submit" value="Luo ilmoitus" />
</form>
{% endblock %}
